// ПРЕДПОЛОЖИМ ЧТО ТУТ БЕЗГАРНИЧНЫЙ SCSS :)
@font-face {
    font-family: "Space Grotesk";
    src: url("@/fonts/spacegrotesk-regular.ttf") format("truetype");
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    margin: 20px;
    // background-color: rgba(0, 0, 0, 0.669);
    background: var(--bg-image) no-repeat center center fixed;
    background-size: cover;
    color: #00f7fff9;
}

.buttons button,
.pagination button {
    font-family: "Space Grotesk", sans-serif;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1c1e22;
    color: rgba(239, 239, 0, 0.902);
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.916);
    transition: 0.3s;
}

.buttons button {
    margin: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 10px;
}

.buttons button:hover,
.pagination button:hover {
    background-color: #343a40cb;
}

.data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 500px;
}

.data div {
    padding: 10px;
    background: #1c1e22;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.data div:hover {
    background: #343c44;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.347);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1c1e22;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.842);
    border-radius: 10px;
    color: white;
    text-align: left;
    min-width: 300px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.modal-close:hover {
    color: rgba(0, 255, 89, 0.858);
}

.modal-body {
    margin-top: 30px;
}